.DS_Store/
.*project
*org.eclipse.*
.settings
.pydevproject
.idea/
*.py[co]
*~
venv/
*.egg-info
*.sqlite3

dump.rdb
angular_static/
src/node_modules/
bower_components/

static/
static/assets/bundles/main-bundle.js
static/assets/bundles/main-sesamo.js
src/webpack-stats.json
postgres-data/